<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinlong.dao.UseraddMapper">



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinlong.bean.Useradd">
        <id column="tua_id" property="tuaId" />
        <result column="user_id" property="userId" />
        <result column="user_add" property="userAdd" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tua_id, user_id, user_add
    </sql>

</mapper>
